html {
	height: 100%;
	width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
	text-align: center;
	color: black;
}

.site-wrapper {
  width: 100%;
  min-height: 100%;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

/*
 * Cover
 */

.cover-backdrop {
  margin-top: 50px;
	background-image: url("https://ourmindsinmotion.files.wordpress.com/2015/01/retirement.jpg");
  background-size: 100%;
  height: 100%;
}

.cover-container {
  min-width: 100%;
  padding: 120px 20px;
  margin-top: 50px;
  color: white;
  background-color: rgba(0,0,0,.5);
  max-height: 100%;
}

.marketing-container h1 {
	font-size: 32px;
}

.btn-product {
  padding: 10px 20px;
  margin-top: 80px;
  font-size: 18px;
  background-color: white;
  color: var(--color4);
}

.btn-product:hover {
  color: var(--color4);
  background-color: rgba(255,255,255,0.85);
}


/*
 * Marketing
 */

.marketing-container {
	padding: 20px 80px;
	background-color: white;
	color: var(--color1);
}

.marketing-container h2 {
	font-size: 32px;
}

.marketing-container iframe {
	margin: 20px 0;
	width: 480px;
	height: 270px;
}

.marketing-container img {
	margin-bottom: 10px;
	width: 60px;
	height: auto;
}

.marketing-container p {
	font-size: 18px;
}

.marketing-subcontainer {
	padding: 0 40px;
}

.marketing-blurb {
	padding: 0px 25px 25px 25px;
}

/*
 * Blog
 */

.blog-container {
	padding: 50px 200px 90px 200px;
	background-color: var(--color3);
	color: white;
}

.blog-container h1 {
	font-size: 32px;
}

.btn-blog {
  padding: 10px 20px;
  margin-top: 40px;
  font-size: 18px;
  background-color: white;
  color: var(--color3);
}

.btn-blog:hover {
  color: var(--color3);
  background-color: rgba(255,255,255,0.85);
}

/*
 * Footer
 */

.footer-container {
	padding: 50px 0;
	font-size: 18px;
	text-align: center;
	background-color: var(--color4);
	color: white;
}

.footer-button {
	color: white;
	border-bottom: 1px solid white;
}

.footer-button:hover {
	color: var(--color1);
	text-decoration: none;
	border-bottom: 1px solid var(--color1);
}

.footer-info-container {
	padding-top: 30px;
	font-size: 13px;
	color: white;
}

.footer-info-container a {
	color: white;
	text-decoration: none;
}

.contact-info {
	color: white;
	text-decoration: none;
}

.footer-info-left {
	text-align: right;
	padding: 0;
	margin: 0;
}

.footer-info-right {
	text-align: left;
	padding-left: 40px;
}



/*
 * Responsive sizing
 */

/* Portrait phone */
@media (min-width: 0) and (max-width: 567px) {
	/*
	 * Cover
	 */

	.cover-container {
	  padding: 50px 20px;
	}

	.cover-container h1 {
		font-size: 24px;
	}

	.cover-container .btn-lg {
	  font-size: 12px;
		margin-top: 30px;
	}
	
	/*
	 * Marketing
	 */

	.marketing-container {
		padding: 15px 25px;
	}

	.marketing-subcontainer {
		padding: 0;
	}

	.marketing-container h1 {
		font-size: 24px;
	}

	.marketing-container iframe {
		width: 320px;
		height: 180px;
	}

	.marketing-container img {
		width: 50px;
		height: auto;
	}

	.marketing-container p {
		font-size: 14px;
	}

	/*
	 * Blog
	 */

	.blog-container {
		padding: 20px 25px 50px 25px;
	}

	.blog-container h1 {
		font-size: 20px;
	}

	.blog-container .btn-lg {
	  font-size: 12px;
		margin-top: 20px;
	}

	/*
	 * Footer
	 */

	.footer-container {
		padding: 20px 0;
		font-size: 12px;
	}

	.footer-info-container {
		padding-top: 10px;
		font-size: 9px;
		color: white;
	}

	.footer-info-left {
		text-align: center;
		padding: 0;
		margin: 0;
	}

	.footer-info-right {
		text-align: center;
		padding-left: 20px;
	}
}

/* Landscape phone */
@media (min-width: 568px) and (max-width: 1024px) {
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /*
	 * Cover
	 */

  .cover-container {
  	padding: 80px 20px;
  }

  .cover-container h1 {
		font-size: 32px;
	}

	.cover-container .btn-lg {
		font-size: 14px;
		margin-top: 60px;
	}

	/*
	 * Marketing
	 */

	.marketing-container {
		padding: 15px 25px;
	}

	.marketing-subcontainer {
		padding: 0 40px;
	}

	.marketing-container h1 {
		font-size: 32px;
	}

	.marketing-container img {
		width: 60px;
		height: auto;
	}

	.marketing-container p {
		font-size: 16px;
	}

	/*
	 * Blog
	 */

	.blog-container {
		padding: 50px 50px 80px 50px;
	}

	.blog-container h1 {
		font-size: 24px;
	}

	.blog-container .btn-lg {
	  font-size: 14px;
		margin-top: 40px;
	}

	/*
	 * Footer
	 */

	.footer-container {
		padding: 50px 0;
		font-size: 18px;
	}

	.footer-info-container {
		padding-top: 30px;
		font-size: 13px;
		color: white;
	}

	.footer-info-left {
		text-align: center;
		padding: 0;
		margin: 0;
	}

	.footer-info-right {
		text-align: center;
		padding-left: 20px;
	}
}


/*~~~~INDEX PAGE BLOCKS~~~~*/
/*
#i-block1 {
    height: auto;
    width: 100vw;
    padding: 30vh 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 100%;
}

#i-block1 h1 {
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 312.5%;
    text-align: center;
    color: white;
}

#i-block2 {
    height: auto;
    width: 100vw;
    padding: 10vh 0;
    background-color: white;
    text-align: left;
}

#i-b2-table {
    padding-top: 8vh;
    width: 100vw;
}

#i-block2 h1 {
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 220%;
    text-align: center;
    color: var(--color4);
}

#i-b2-left {
    text-align: center;
    float: left;
    width: 50vw;
}

#i-b2-left img {
    width: 25vw;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

#i-b2-desc {
    width: 50vw;
    overflow: hidden;
    margin: 0 auto;
}

#i-b2-desc img {
    height: 8vh;
    width: auto;
    float: left;
    display: inline-block;
    vertical-align: middle;
    padding-right: 4vw;
}

#i-b2-desc span {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 125%;
    text-align: left;
    margin-right: 6vw;
    margin-left: 4vw;
    color: var(--color4);
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    #i-b2-left { 
        float: none;
        margin: auto;
    }

    #i-b2-left img {
        width: 50vw;
    }

    #i-b2-desc span {
        margin: 0;
    }
}


#i-block3 {
    height: auto;
    width: 100vw;
    padding-top: 10vh;
    padding-bottom: 14vh;
    background-color: var(--color2);
    text-align: center;
}

#i-block3 h1 {
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 220%;
    text-align: center;
    color: white;
}

*/


