h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 36px;
}

.header {
  margin-top: 100px;
  display: none;
}


/* RESPONSIVE SIZING
================================================= */

/* ===== Portrait phone ===== */
@media (min-width: 0) and (max-width: 567px) {

}

/* ===== Landscape phone ===== */
@media (min-width: 568px) and (max-width: 1024px) {

}
