/* COVER BLOCK
================================================= */

.cover-backdrop {
	background-image: url("../img/index/healthy_aging.png");
  background-position: center;
  background-size: 100vw auto;
  background-repeat: no-repeat;
}

.cover-container {
  height: 500px;
  padding: 120px 20px;
  margin-top: 50px;
}

.btn-product {
  padding: 10px 20px;
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 18px;
	border: 3px solid white;
}

.btn-product:hover {
  color: white;
  background-color: rgba(0,0,0,0.1);
}


/* MARKETING BLOCK
================================================= */

.marketing-container {
	padding: 20px 80px;
}

.marketing-container iframe {
	margin: 20px 0;
	width: 480px;
	height: 270px;
}

.marketing-container img {
	margin-bottom: 10px;
	width: 60px;
	height: auto;
}

.marketing-container p {
	font-size: 18px;
}

.marketing-subcontainer {
}

.marketing-blurb {
	padding: 0px 25px 25px 25px;
}

/* BLOG BLOCK
================================================= */
.blog-container {
	padding: 50px 120px 90px 120px;
}

.btn-blog {
  padding: 10px 20px;
  margin-top: 40px;
  font-size: 18px;
	border: 3px solid var(--color5);
}

.btn-blog:hover {
  color: var(--color5);
  background-color: rgba(0,0,0,0.05);
}


/* RESPONSIVE SIZING
================================================= */

/* ===== Portrait phone ===== */
@media (min-width: 0) and (max-width: 567px) {
	/* Cover */

	.cover-backdrop {
	  background-size: auto 400px;
	  background-repeat: no-repeat;
	}

	.cover-container {
		padding: 80px 20px;
		height: 350px;
	}

	.btn-product {
		font-size: 12px;
		margin-top: 30px;
	}

	/* Marketing */

	.marketing-container {
		padding: 0px 25px;
	}

	.marketing-subcontainer {
		padding: 0;
	}

	.marketing-container iframe {
		width: 320px;
		height: 180px;
	}

	.marketing-container img {
		width: 50px;
		height: auto;
	}

	.marketing-container p {
		font-size: 14px;
	}

	/* Blog */

	.blog-container {
		padding: 20px 25px 50px 25px;
	}

	.btn-blog {
	  font-size: 12px;
		margin-top: 20px;
	}
}

/* ===== Landscape phone ===== */
@media (min-width: 568px) and (max-width: 1024px) {
  /* Cover */

	.cover-backdrop {
	  background-size: auto 515px;
	  background-repeat: no-repeat;
	}

	.btn-product {
		font-size: 14px;
	}

	/* Marketing */

	.marketing-container {
		padding: 15px 25px;
	}

	.marketing-subcontainer {
		padding: 0 40px;
	}

	.marketing-container img {
		width: 60px;
		height: auto;
	}

	.marketing-container p {
		font-size: 16px;
	}

	/* Blog */

	.blog-container {
		padding: 50px 50px 80px 50px;
	}

	.btn-blog {
	  font-size: 14px;
		margin-top: 40px;
	}
}
