@import "animation";
@import "typography";

.site {
  height: 100vh;
  margin-bottom: -150px;
}

.header {
  padding-top: 100px;
  display: none;
}

.cool-thing-container {
  padding: 100px;

  .cool-thing {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    outline: 1px solid transparent;

    animation: fadeIn 2s linear,
    square-to-circle 6s infinite cubic-bezier(1,.015,.295,1.225) alternate;
    animation-delay: 1s, 3s;
  }
}

.quotes-container {
  position: relative;
  min-height: 150px;

  .quote {
    display: none;
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding: 0 50px;
  }
}

/* RESPONSIVE SIZING
================================================= */

/* ===== Portrait phone ===== */
@media (min-width: 0) and (max-width: 567px) {

}

/* ===== Landscape phone ===== */
@media (min-width: 568px) and (max-width: 1024px) {

}
