@import "animation";
@import "typography";

.site {
  height: 100vh;
  margin-bottom: -150px;
}

.header {
  padding-top: 100px;
  opacity: 0;
}

.content {
  display: table;
  width: 100%;
  font-size: 0;

  &.row, &.row-centered {
    margin: 0;
    width: 100%;
  }

  .col-xs-1, .col-centered {
    margin: 0 20px;
    padding: 0;
    width: auto;
  }

  .svg-wrapper {
    display: inline-block;
    position: relative;
    font-size: 0;
    opacity: 0;

    &:hover .path {
      animation: 3s draw linear forwards;
    }
  }

  .svg-1 {
    width: 120px;
    height: 50px;
  }

  .path {
    fill: none;
    stroke: black;
    stroke-width: 1.2px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }

  .link {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.cool-thing-container {
  padding: 100px;
  margin-bottom: 20px;

  .cool-thing {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    outline: 1px solid transparent;
    opacity: 0;
    background: coral;

    animation: square-to-circle 6s infinite cubic-bezier(1,.015,.295,1.225) alternate;
    animation-delay: 3s;
  }
}

.quotes-container {
  position: relative;
  min-height: 150px;

  .quote {
    display: none;
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding: 0 50px;
  }
}

/* RESPONSIVE SIZING
================================================= */

/* ===== Portrait phone ===== */
@media (min-width: 0) and (max-width: 567px) {

}

/* ===== Landscape phone ===== */
@media (min-width: 568px) and (max-width: 1024px) {

}
