@import 'animation';
@import 'typography';

.site {
  display: table;
  width: 100%;
  height: 100%;
}

.container {
  display: table-row;
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.header {
  padding-top: 80px;
  opacity: 0;
}

.avatar-wrapper {
  opacity: 0;

  .avatar {
    width: 250px;
    height: 250px;
    margin-top: 50px;
  }
}

.main {
  display: table;
  table-layout: fixed;
  padding: 75px 0 20px 0;
  font-size: 0;

  .svg-wrapper {
    display: table-cell;
    position: relative;
    width: 150px;
    font-size: 0;
    opacity: 0;

    &:hover .path {
      animation: 2s drawBox linear forwards;
    }

    svg {
      width: 120px;
      height: 50px;

      .path {
        fill: none;
        stroke: black;
        stroke-width: 1.2px;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
      }
    }

    .link {
      color: black;
      position: absolute;
      top: 2px;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }
}

.footer {
  .quote {
    display: none;
    padding: 30px 50px;
  }
}

/* MEDIA QUERIES
============================================== */

/* Landscape phone larger */
@media (min-width: 682px) and (max-width: 1024px) {
  body {
  }
}

/* Landscape phone smaller */
@media (min-width: 568px) and (max-width: 681px) {
  body {
  }

  .main > .svg-wrapper {
    display: block;
  }
}

/* Portrait phone */
@media (min-width: 0) and (max-width: 567px) {
  body {
  }

  .main > .svg-wrapper {
    display: block;
  }
}

// .cool-thing {
//   width: 100px;
//   height: 100px;
//   margin: 100px auto;
//   background: coral;
//   opacity: 0;
//   outline: 1px solid transparent;
//
//   animation: square-to-circle 6s infinite cubic-bezier(1,.015,.295,1.225) alternate;
//   animation-delay: 3s;
// }
