:root {
    --color4: #015249; /* forest */
    --color2: #77c9d4; /* feather blue */
    --color3: #87e5bb; /* marine */
    --color4: #13305e; /* navy blue */
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar {
  background-color: white;
}

.navbar a {
	color: black;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-toggle .icon-bar {
	background-color: black;
}