:root {
    --color1: #015249; /* forest */
    --color2: #77c9d4; /* feather blue */
    --color3: #57bc90; /* marine */
    --color4: #4b72af; /* dark blue */
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar {
  background-color: white;
}

.navbar-brand {
	color: var(--color4);
	font-size: 24px;
}

.navbar-right a {
	color: var(--color4);
	font-size: 16px;
}

.nav.navbar-nav > li > a:hover {
	color: var(--color1);
	font-size: 16px;
	background-color: white;
}


/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-toggle .icon-bar {
	background-color: var(--color4);
}

/*
 * Footer
 */

.footer-container {
	padding: 50px 0;
	font-size: 18px;
	text-align: center;
	background-color: var(--color4);
	color: white;
}

.footer-button {
	color: white;
	border-bottom: 1px solid white;
}

.footer-button:hover {
	color: var(--color1);
	text-decoration: none;
	border-bottom: 1px solid var(--color1);
}

.footer-info-container {
	padding-top: 30px;
	font-size: 13px;
	color: white;
}

.footer-info-container a {
	color: white;
	text-decoration: none;
}

.contact-info {
	color: white;
	text-decoration: none;
}

.footer-info-left {
	text-align: right;
	padding: 0;
	margin: 0;
}

.footer-info-right {
	text-align: left;
	padding-left: 40px;
}

/*
 * Responsive sizing
 */

/* Portrait phone */
@media (min-width: 0) and (max-width: 567px) {
	/*
	 * Footer
	 */

	.footer-container {
		padding: 20px 0;
		font-size: 12px;
	}

	.footer-info-container {
		padding-top: 10px;
		font-size: 9px;
		color: white;
	}

	.footer-info-left {
		text-align: center;
		padding: 0;
		margin: 0;
	}

	.footer-info-right {
		text-align: center;
		padding-left: 20px;
	}
}

/* Landscape phone */
@media (min-width: 568px) and (max-width: 1024px) {
	/*
	 * Footer
	 */

	.footer-container {
		padding: 50px 0;
		font-size: 18px;
	}

	.footer-info-container {
		padding-top: 30px;
		font-size: 13px;
		color: white;
	}

	.footer-info-left {
		text-align: center;
		padding: 0;
		margin: 0;
	}

	.footer-info-right {
		text-align: center;
		padding-left: 20px;
	}
}

