/*~~~~PRODUCT PAGE BLOCKS~~~~*/

/* VIDEO BLOCK
================================================= */

.video-container {
  min-width: 100%;
  padding: 30px 20px 60px 20px;
  margin-top: 50px;
  max-height: 100%;
  text-align: right;
}

.video-subcontainer {
	padding: 20px 0;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.video-container iframe {
	width: 432px;
	height: 243px;
	padding-right: 20px;
}

.video-info {
	width: 432px;
	padding-left: 20px;
}

.video-info p {
	font-size: 17px;
	text-align: left;
}


/* RESPONSIVE
================================================= */

/* ===== Portrait phone ===== */
@media (min-width: 0) and (max-width: 567px) {
	.video-container {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 30px;
	}

	.video-subcontainer {
		padding: 0 10px;
	}

	.video-container iframe {
		width: 272px;
		height: 153px;
		padding-right: 0;
		padding-top: 10px;
	}

	.video-container p {
		font-size: 16px;
		text-align: left;
		padding-top: 10px;
	}

	.video-info {
		width: 100%;
	}

	.vertical-align {
		display: block;
	}
}

/* ===== Landscape phone ===== */
@media (min-width: 568px) and (max-width: 767px) {
	.video-container {
		text-align: center;
		padding-bottom: 50px;
	}

	.video-subcontainer {
		padding: 0 50px;
	}

	.video-container iframe {
		width: 400px;
		height: 225px;
		padding-right: 0;
		padding-top: 20px;
	}

	.video-container p {
		font-size: 17px;
		text-align: left;
		padding-top: 20px;
	}
	
	.video-info {
		width: 100%;
	}

	.vertical-align {
		display: block;
	}
}

/* ===== Slightly larger ===== */
@media (min-width: 768px) and (max-width: 1024px) {
	.video-container {
		text-align: center;
		padding-bottom: 30px; 
	}

	.video-subcontainer {
		padding: 0 100px;
	}

	.video-container iframe {
		width: 480px;
		height: 270px;
		padding-right: 0;
		padding-top: 20px;
	}

	.video-container p {
		font-size: 17px;
		text-align: left;
		padding-top: 20px;
	}

	.video-vid {
		width: 100%;
	}

	.video-info {
		width: 100%;
	}

	.vertical-align {
		display: block;
	}
}


