/*~~~~PRODUCT PAGE BLOCKS~~~~*/

/* DISPLAY BLOCK
================================================= */

.display-container {
  min-width: 100%;
  padding: 30px;
  margin-top: 50px;
  max-height: 100%;
  text-align: right;
}

.display-subcontainer {
	padding: 20px 0;
}
/*
.display-container iframe {
	width: 432px;
	height: 243px;
	padding-right: 20px;
}*/

.vertical-align {
  display: flex;
  align-items: center;
}

.tt-isometric {
  max-width: 50vw;
  padding: 50px 50px 0 100px;
}

.display-info {
	width: 50vw;
	padding: 0px 100px;
}

.display-info p {
	font-size: 17px;
	text-align: left;
}

/* INFOGRAPHIC BLOCK
================================================= */

.infographic-container {
  padding: 75px 0 100px 0;
}


.infographic-subcontainer {
  padding-top: 20px;
}

.infographic-subcontainer img {
  width: 50px;
  height: auto;
}

.infographic-subcontainer p {
  padding-top: 10px;
  font-size: 15px;
}

.arrow {
  vertical-align: text-bottom;
}

/* RESPONSIVE
================================================= */

/* ===== Portrait phone ===== */
@media (min-width: 0) and (max-width: 567px) {
	.display-container {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 30px;
	}

	.display-subcontainer {
		padding: 0 10px;
	}

	/*.display-container iframe {
		width: 272px;
		height: 153px;
		padding-right: 0;
		padding-top: 10px;
	}*/

	.display-container p {
		font-size: 16px;
		text-align: left;
		padding-top: 10px;
	}

	.display-info {
		width: 100%;
	}

	.vertical-align {
		display: block;
	}
}

/* ===== Landscape phone ===== */
@media (min-width: 568px) and (max-width: 767px) {
	.display-container {
		text-align: center;
		padding-bottom: 50px;
	}

	.display-subcontainer {
		padding: 0 50px;
	}

	/*.display-container iframe {
		width: 400px;
		height: 225px;
		padding-right: 0;
		padding-top: 20px;
	}*/

	.display-container p {
		font-size: 17px;
		text-align: left;
		padding-top: 20px;
	}

	.display-info {
		width: 100%;
	}

	.vertical-align {
		display: block;
	}
}

/* ===== Slightly larger ===== */
@media (min-width: 768px) and (max-width: 1024px) {
	.display-container {
		text-align: center;
		padding-bottom: 30px;
	}

	.display-subcontainer {
		padding: 0 100px;
	}

	.display-container iframe {
		width: 480px;
		height: 270px;
		padding-right: 0;
		padding-top: 20px;
	}

	.display-container p {
		font-size: 17px;
		text-align: left;
		padding-top: 20px;
	}

	.display-vid {
		width: 100%;
	}

	.display-info {
		width: 100%;
	}

	.vertical-align {
		display: block;
	}
}
