/*~~~~TEAM PAGE BLOCKS~~~~*/

/* TEAM BLOCK
================================================= */
.team-backdrop {
	background-image: url("../img/team.png");
  background-position: center;
  background-size: 100vw auto;
  background-repeat: no-repeat;
}

.team-container {
  height: 500px;
  padding: 120px 20px;
  margin-top: 50px;
}

.team-container p {
	font-size: 20px;
}

.team-subcontainer {
	padding: 40px;
	text-align: left;
}

.team-info-left {
	padding-left: 120px;
	padding-right: 60px;
}

.team-info-right {
	padding-right: 120px;
	padding-left: 60px;
}

/* BIO BLOCK
================================================= */

.bio-container {
	padding: 50px 80px 60px 80px;
}

.bio-blurb {
	padding: 40px 0;
}

.bio-blurb img {
	height: 250px;
	width: auto;
}

.bio-blurb h2, h3 {
	margin: 0 0 10px 0;
	text-align: left;
	padding: 0 20px;
}

.bio-blurb p {
	font-size: 18px;
	text-align: left;
	padding: 0 20px;
	margin: 0;
}


/* VALUES BLOCK
================================================= */

.values-container {
	padding: 30px 0 50px 0;
}

.values-container p {
	font-size: 16px;
}

.values-info-left {
	padding-left: 120px;
	padding-right: 40px;
}

.values-info-right {
	padding-right: 120px;
	padding-left: 40px;
}

/* ===== Portrait phone ===== */
@media (min-width: 0) and (max-width: 567px) {
	br {
		content: "";
		font-size: 5px;
	}

	.team-backdrop {
	  background-size: auto 500px;
	  background-repeat: no-repeat;
	}

	.team-container {
		padding: 40px 20px;
		height: 370px;
	}

	.team-subcontainer {
		padding: 0;
	}

	.team-container p {
		font-size: 14px;
	}

	.team-info-left, .team-info-right {
		padding: 20px 50px 0px 50px;
	}

	.values-container p {
		font-size: 14px;
	}

	.values-info-left, .values-info-right {
		padding: 0 70px;
	}

	.bio-subcontainer {
		padding-left: 0;
		padding-right: 0;
	}
}

/* ===== Landscape phone ===== */
@media (min-width: 568px) and (max-width: 767px) {
	br {
		content: "";
		font-size: 10px;
	}

	.team-backdrop {
	  background-size: auto 660px;
	  background-repeat: no-repeat;
	}

	.team-container {
	  padding-top: 80px;
	}

	.team-subcontainer {
		padding: 20px;
	}

	.team-container p {
		font-size: 18px;
	}

	.team-info-left, .team-info-right {
		padding: 0 60px 40px 60px;
	}

	.values-info-left, .values-info-right {
		padding: 0 100px;
	}
}

/* ===== Slightly larger ===== */
@media (min-width: 768px) and (max-width: 1024px) {
	.team-backdrop {
	  background-size: auto 660px;
	  background-repeat: no-repeat;
	}

	.team-container p {
		font-size: 18px;
	}

	.team-info-left {
		padding-left: 60px;
		padding-right: 40px;
	}

	.team-info-right {
		padding-right: 60px;
		padding-left: 40px;
	}
}
