/*~~~~BUTTONS~~~~*/

.footer-button {
    height: auto;
    width: auto;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 125%;
    margin: 0 3vw;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid white;
}

#product-button {
    height: auto;
    width: auto;
    padding: 2vh 3vw;
    margin-top: 15vh;
    border: none;
    border-radius: 5px;

    background-color: white;
    color: var(--color1);
    display: inline-block;
    cursor: pointer;
    
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    font-size: 125%;
    text-align: center;
    text-decoration: none;
    text-decoration-color: white;
}

#product-button:hover {
    background-color: rgba(200, 200, 200, 1.0);
} 

#blog-button {
    height: auto;
    width: auto;
    padding: 2vh 3vw;
    margin-top: 10vh;
    border: none;
    border-radius: 5px;

    background-color: white;
    color: var(--color2);
    display: inline-block;
    cursor: pointer;
    
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    font-size: 125%;
    text-align: center;
    text-decoration: none;
    text-decoration-color: white;
}

#blog-button:hover {
    background-color: rgba(230, 230, 230, 1.0);
}



