/*~~~~~~~~~~~ Stylesheet ~~~~~~~~~~~~~*/

#mycenter {
    margin: auto;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    color: yellow;
}

body {
    background-color: C1D5D7;
    text-align: center;
}
