/*~~~~TEAM PAGE BLOCKS~~~~*/

#t-block1 {
    height: auto;
    width: 100vw;
    padding: 26vh 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 100%;
}

#t-block1 h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 312.5%;
    text-align: center;
    color: white;
}

#t-block1 p {
    -webkit-columns: 2; /* Chrome, Safari, Opera */
    -moz-columns: 2; /* Firefox */
    columns: 2;
    column-gap: 15vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 125%;
    text-align: left;
    margin: 0 15vw;
    color: white;
}

#t-block2 {
    height: auto;
    width: 100vw;
    padding-top: 8vh;
    padding-bottom: 14vh;
    background-color: var(--color3);
}

#t-block2 h1 {
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 312.5%;
    text-align: center;
    color: white;
}

#t-block2 h2 {
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 190%;
    text-align: center;
    color: white;
}

#t-block2 p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 130%;
    text-align: center;
    margin-left: 8vh;
    margin-right: 8vh;
    color: white;
}

#t-block2a {
    height: auto;
    width: 80vw;
    padding-top: 4vh;
    margin: 0 auto;
    -webkit-columns: 2; /* Chrome, Safari, Opera */
    -moz-columns: 2; /* Firefox */
    columns: 2;
    column-gap: 8vh;
}

#t-block2b {
    height: auto;
    width: 80vw;
    padding-top: 4vh;
    margin: 0 auto;
    -webkit-columns: 2; /* Chrome, Safari, Opera */
    -moz-columns: 2; /* Firefox */
    columns: 2;
    column-gap: 8vh;
}



